/* Blog Page-header*/
.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.blog-initial .container{
    padding: 60px;
    text-align: center;
}

.blog-initial  .blog-hero {
  background: url('../Images/journal_pic3.jpg') center/cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-family: 'Playfair Display';
  text-align: center;
}

.blog-initial .blog-hero .small{
    display: block;
    font-size: 40px;

}

.blog-hero .no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    font-size: 45px;
}


/*Blog page content section*/

.blog-section .container{
    width: 100%;
    padding: 60px 80px;
    text-align: center;

}

.blog-section .container .blog-grid {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;

}
.blog-grid p{
    font-weight: bold;
    font-variant: small-caps;
}
.blog-section .container .blog-grid .blog-card img{
   width: 100%;
   height: 250px;
   object-fit: cover;
   border-radius: 10px;
   margin-bottom: 10px;
}

.blog-card .overview{
    margin: 10px 0 20px;
    line-height: 20px;
}
/*post1 styling*/

.post-hero .container{
 background: url('../Images/creative_lifestyle_guide.jpg') center/cover ;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 20px;
  font-size: 5vmin;
}
.post-container {
  max-width: 700px;
  margin: auto;
  padding: 30px;
  background: white;
  border-radius: 15px;
  margin-top: -5px

}

.post-container ul li{
    margin: 0 30px;
    list-style: square;
    text-transform: capitalize;
    line-height: 2;
}
.post-container img{
    width: 100%;
    height: 400px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.date {
  font-size: 12px;
  color: gray;
  margin-bottom: 15px;
}

.post-container p {
  line-height: 1.7;
  margin-bottom: 20px;
}

button{
    margin: 15px;
    padding: 8px 16px;
    border: none;
    background: #777;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/*post2 styling*/
.post2-hero .container{
 background: url('../Images/seasonal_inspiration.jpg') center/cover ;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 20px;
  font-size: 5vmin;
}
.post-container {
  max-width: 700px;
  margin: auto;
  padding: 30px;
  background: white;
  border-radius: 15px;
  margin-top: -5px
}

.post-container .sub-headings{
    list-style: none;
    font-weight: 600;
    font-style: italic;

}

/*styling for mobiles*/
@media(max-width:670px){
    .blog-initial .blog-hero{
    background: url('../Images/journal_pic3.jpg') no-repeat;
    background-size: 400px 480px;
    background-position: bottom;
    height: 250px;
    width: 100%;
    }

    .blog-initial .blog-hero .small{
    display: block;
    font-size: 5vmin;
    }

    .blog-hero .no-fill{
    font-size: 5vmin;
    }
    .blog-section .container .blog-grid {
    width: 100%;
    display: block;
    gap: 20px;

}
.blog-grid .blog-card{
    margin-bottom: 10px;
}
    .blog-grid .blog-card img{
        background-size:350px 400px;
        
    }
/*post1 styling*/
.post-hero .container{
    background: url('../Images/journal_pic.jpg') cover/center;
    width: 100%;
    height: 200px;
   
}


}
