/*Login Page*/

.login-page .container {

    align-items: center;
    padding: 60px;
    background: #efe6dc;
    margin-bottom: 30px;
  
    }

.login-page .container .login-box{
    display: flex;
    gap: 20px;

}    
.login-box .form-details{
    max-width: 400px;
    width: 100%;
    color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: url(../Images/login-2.webp) center/cover;

}

.login-box .form-details h3{
    text-align: center;
    margin-bottom: 30px;
}
.login-box .form-content{
    width: 100%;
    padding: 20px;
}

.form-content .form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 10px;

    
}
.form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid gray;
}   
.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}
.input-field input:focus {
    border: 1px solid #00bcd4;
}

.form .input-field label{
    position:absolute;
    top: 50%;
    left: 15px;
   color: #757677;
   pointer-events: none;
   transform: translateY(-50%);
   transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}
.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #1f7a8e;
    font-size: 0.75rem;
}
.login-box .forget-pass{
    display: inline-flex;
    margin-top: 10px;
    font-size: 0.95rem;


}

.login-box .link-button{
    text-align: center;

}
/* Close button */
.close {
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
/* Sign up  page*/
.signup-page{
    display: none;
}
.signup-page .container {

    align-items: center;
    padding: 60px;
    background: #efe6dc;
    margin-bottom: 30px;
  
    }

.signup-page .container .signup-box{
    display: flex;
    gap: 20px;

}    

.signup-box .signup-details{
    max-width: 400px;
    width: 100%;
    color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: url(../Images/signup.webp) center/cover;

}

.signup-box .signup-details h2{
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}
.signup-box .signup-details p{
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.signup-box .signup-content{
    width: 100%;
    padding: 20px;
}

.signup-content .form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 10px;  
}

.form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid gray;
}   
.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}
.input-field input:focus {
    border: 1px solid #00bcd4;
}

.form .input-field label{
    position:absolute;
    top: 50%;
    left: 15px;
   color: #757677;
   pointer-events: none;
   transform: translateY(-50%);
   transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}
.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #1f7a8e;
    font-size: 0.75rem;
}

.signup-box .link-button{
    text-align: center;

}
@media(max-width: 670px)
{
    .login-page .container .login-box{
        display: block;
        
    }
    .login-box .form-details{
        background: url(../Images/login-2.webp) center/cover;
        width: 100%;
        height: 250px;
        text-align: center;
        justify-content: center;   
    }
    .login-box .form-content h2{
        text-align: center;
        justify-content: center;

    }
    .signup-page .container .signup-box{
        display: block;
    }
    .signup-box .signup-details{
         background: url(../Images/signup.webp) center/cover;
         width: 100%;
         height: 250px;
         text-align: center;
         justify-content: center;
    }
    .signup-page .container .signup-box .signup-content h2{
        text-align: center;
        margin-bottom: 20px;
    }

}
