/* Services page Styling*/
.hero-service .container{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #efe6dc;
    margin-bottom: 30px;
}


.hero-service .container .hero-service-image{
    background: url('../Images/cozy-home-service.webp') center/cover;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
/* Service-card*/
.services{
    padding: 20px 30px;
    margin-bottom: 20px;
}
.services .container .hero-service-card{
    display: flex;
    gap: 20px;
    align-items: center;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.services .hero-service-card .service-image{
    width: 500px;
    height: 500px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 30px;
    align-items: center;
}

.services .container .hero-service-card h3 p i{
    align-items: center;

}

.service-footer .container .service-quote{
    background: url('../Images/cozy-home-service.webp')no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: rgb(46, 2, 2);
    font-family: 'Playfair Display';
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

@media(max-width:680px){
    .hero-service .container{
        display: block;
        font-size: 3vmin;
        padding: 15px;
    }
    .hero-service .container .hero-service-image{
    background: url('../Images/cozy-home-service.webp') center/cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;}

    .services .container .hero-service-card{
    display: block;
    font-size: 3vmin;
    text-align: center;
    }
    .services .hero-service-card .service-image{
    width: 100%;
    height: auto;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;

}
.service-footer .container .service-quote{
    background: url('../Images/cozy-home-service.webp')center/cover;
    width: 100%;
    height: 200px;
    font-size: 5vmin;
}
   

}
